/* The sidebar menu */
/*.sidenav {*/
/*    height: 100%; !* Full-height: remove this if you want "auto" height *!*/
/*    width: 160px; !* Set the width of the sidebar *!*/
/*    position: fixed; !* Fixed Sidebar (stay in place on scroll) *!*/
/*    z-index: 1; !* Stay on top *!*/
/*    top: 0; !* Stay at the top *!*/
/*    left: 0;*/
/*    background-color: #111; !* Black *!*/
/*    overflow-x: hidden; !* Disable horizontal scroll *!*/
/*    padding-top: 20px;*/
/*}*/

.content {
    max-width: 900px;
    margin: auto;
    /*background-color: red;*/
    font-size: 12;
    font-family: 'Courier New', Courier, monospace;
}

#portfolio {
    padding-top: 5%;
}

#content {
    padding-top: 5%;
    text-align: center;
}

.sidenav {
    padding-top: 10%;
    /*padding-left: 100px;*/
    float: left;
        /*position: fixed; !* Fixed Sidebar (stay in place on scroll) *!*/
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 16px 6px 16px;
    display: block;
    text-align: left;
}
.sidenav p {
    padding: 0px 8px 0px 16px;
    margin-top: 0;
    display: block;
}

#name {
    padding-top: 40px;
}

#description {
    padding-bottom: 20px;
}

.sidenav h4 {

    display: block;
}


.works {
    overflow: hidden;
    padding-top: 8.7%;
    padding-left: 70px;
}

.works p {
    /*text-align: right;*/
    padding-top: 30px;

}

/*!* When you mouse over the navigation links, change their color *!*/
/*.sidenav a:hover {*/
/*    color: #f1f1f1;*/
/*}*/

/*!* Style page content *!*/
/*.main {*/
/*    margin-left: 160px; !* Same as the width of the sidebar *!*/
/*    padding: 0px 10px;*/
/*}*/

/*!* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) *!*/
/*@media screen and (max-height: 450px) {*/
/*    .sidenav {padding-top: 15px;}*/
/*    .sidenav a {font-size: 18px;}*/
/*}*/